/* Navbar Styling */
.navbar {
    background-color: darkmagenta;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 6px 8px #8b008b80;
}

.navbar-brand {
    font-size: 1.8em;
    font-weight: bold;
    position: relative;
    z-index: 3000;
    color: white;
    text-decoration: none;
}
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* For desktop view */
    box-shadow: 0 6px 8px #8b008b80;
}
.nav-links li {
    margin-left: 25px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: #ddd;
}

/* Hamburger Icon Styling */
.hamburger {
    display: none; /* Hidden on desktop */
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    z-index: 10000; /* Ensure it's above other content */
}
.hamburger .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease-in-out;
}

.nav-links.active {
    display: flex; /* Show when active */
    transform: translateY(0);
}

/* Mobile Menu Styling */
@media (max-width: 768px) {
    .nav-links {
        display: flex;
        position: relative;
        z-index: 2000;
        flex-direction: column;
        width: 100%;
        background-color: darkmagenta;
        position: absolute;
        top: -50vh; /* Adjust based on navbar height */
        left: 0;
        padding: 15px 0;
        border-top: 2px solid #ccc;
        transition: top 0.5s ease-in-out, border-top 0.5s ease-in-out;
    }
    .nav-links.active {
        border-top: 2px solid #cccf;
        top: 82px; /* Adjust based on navbar height */
    }
    .nav-links li {
        margin: 10px 20px;
        text-align: center;
    }

    .hamburger {
        display: flex; /* Show hamburger on mobile */
    }
    /* Hamburger Animation */
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
    }
}